html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0;max-width:100%;}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],/* 1 */
input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
.container{position:relative;width:100%;max-width:960px;margin:0 auto;padding:0 2px;box-sizing:border-box}
.column,.columns{width:100%;float:left;box-sizing:border-box}
.adcontainer{
display:block;
max-width: 100%;
margin: 24px auto;
margin-bottom:10px;
text-align: center;
}
.advertical{display:none;}
.adrectangle{display:block;}
@media (max-width:400px) {
  .advertical{display:block;}
  .adrectangle{display:none;}
}
.responsive_adsense {width:336px;height:280px;margin:0 auto;}
@media(max-width:500px){.responsive_adsense{width:300px;height:250px;}}
.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:12px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:1.4em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-banner .cc-btn:last-child{min-width:140px}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em;}.cc-window.cc-floating .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{-ms-flex:1;flex:1}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1;flex:1}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}
@media (max-width:1024px){.ads-adsense-desktop{display:none}}
@media screen and (max-width:1024px){.ads-adsense-mobile{display:block}}
@media screen and (min-width:1024px){.ads-adsense-mobile{display:none}}
@media (max-width: 480px){
.adcontainer{width:320px;margin:20px auto;}
}
@media (min-width: 400px) {
.container{width:85%;padding:0}
}
@media (min-width: 550px) {
.container{width:80%}
.column,.columns{margin-left:4%}
.column:first-child,.columns:first-child{margin-left:0}
.one.column,.one.columns{width:4.66666666667%}
.two.columns{width:13.3333333333%}
.three.columns{width:22%}
.four.columns{width:30.6666666667%}
.five.columns{width:39.3333333333%}
.six.columns{width:48%}
.seven.columns{width:56.6666666667%}
.eight.columns{width:65.3333333333%}
.nine.columns{width:74%}
.ten.columns{width:82.6666666667%}
.eleven.columns{width:91.3333333333%}
.twelve.columns{width:100%;margin-left:0}
.one-third.column{width:30.6666666667%}
.two-thirds.column{width:65.3333333333%}
.one-half.column{width:48%}
.offset-by-one.column,.offset-by-one.columns{margin-left:8.66666666667%}
.offset-by-two.column,.offset-by-two.columns{margin-left:17.3333333333%}
.offset-by-three.column,.offset-by-three.columns{margin-left:26%}
.offset-by-four.column,.offset-by-four.columns{margin-left:34.6666666667%}
.offset-by-five.column,.offset-by-five.columns{margin-left:43.3333333333%}
.offset-by-six.column,.offset-by-six.columns{margin-left:52%}
.offset-by-seven.column,.offset-by-seven.columns{margin-left:60.6666666667%}
.offset-by-eight.column,.offset-by-eight.columns{margin-left:69.3333333333%}
.offset-by-nine.column,.offset-by-nine.columns{margin-left:78%}
.offset-by-ten.column,.offset-by-ten.columns{margin-left:86.6666666667%}
.offset-by-eleven.column,.offset-by-eleven.columns{margin-left:95.3333333333%}
.offset-by-one-third.column,.offset-by-one-third.columns{margin-left:34.6666666667%}
.offset-by-two-thirds.column,.offset-by-two-thirds.columns{margin-left:69.3333333333%}
.offset-by-one-half.column,.offset-by-one-half.columns{margin-left:52%}
}
html{font-size:62.5%}
body{font-size:14px;line-height:1.6;font-weight:400;font-family:"Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;color:#222}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:2rem;font-weight:300}
h1{font-size:3rem;line-height:1.2;letter-spacing:-.1rem}
h2{font-size:3rem;line-height:1.25;letter-spacing:-.1rem}
h3{font-size:3rem;line-height:1.3;letter-spacing:-.1rem}
h4{font-size:2.2rem;line-height:1.35;letter-spacing:-.08rem}
h5{font-size:1.8rem;line-height:1.5;letter-spacing:-.05rem}
h6{font-size:1.5rem;line-height:1.6;letter-spacing:0}
@media (min-width: 550px) {
h1{font-size:3rem}
h2{font-size:3rem}
h3{font-size:2.5rem}
h4{font-size:2.2rem}
h5{font-size:2.4rem}
h6{font-size:1.5rem}
}
p{margin-top:0}
a{color:#1EAEDB;text-decoration:none}
a:hover{color:#0FA0CE}
.button,button,input[type="submit"],input[type="reset"],input[type="button"]{display:inline-block;height:38px;padding:0 30px;color:#555;text-align:center;font-size:11px;font-weight:600;line-height:38px;letter-spacing:.1rem;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box}
.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:focus,button:focus,input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus{color:#333;border-color:#888;outline:0}
.button.button-primary,button.button-primary,input[type="submit"].button-primary,input[type="reset"].button-primary,input[type="button"].button-primary{color:#FFF;background-color:#33C3F0;border-color:#33C3F0}
.button.button-primary:hover,button.button-primary:hover,input[type="submit"].button-primary:hover,input[type="reset"].button-primary:hover,input[type="button"].button-primary:hover,.button.button-primary:focus,button.button-primary:focus,input[type="submit"].button-primary:focus,input[type="reset"].button-primary:focus,input[type="button"].button-primary:focus{color:#FFF;background-color:#1EAEDB;border-color:#1EAEDB}
input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],textarea,select{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #D1D1D1;border-radius:4px;box-shadow:none;box-sizing:border-box}
input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{min-height:65px;padding-top:6px;padding-bottom:6px}
input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="text"]:focus,input[type="tel"]:focus,input[type="url"]:focus,input[type="password"]:focus,textarea:focus,select:focus{border:1px solid #33C3F0;outline:0}
label,legend{display:block;margin-bottom:.5rem;font-weight:600}
fieldset{padding:0;border-width:0}
input[type="checkbox"],input[type="radio"]{display:inline}
label > .label-body{display:inline-block;margin-left:.5rem;font-weight:400}
ul{list-style:circle inside}
ol{list-style:decimal inside}
ol,ul{padding-left:0;margin-top:0}
ul ul,ul ol,ol ol,ol ul{margin:1.5rem 0 1.5rem 3rem;font-size:90%}
li{margin-bottom:1rem}
code{padding:.2rem .5rem;margin:0 .2rem;font-size:90%;white-space:nowrap;background:#F1F1F1;border:1px solid #E1E1E1;border-radius:4px}
pre > code{display:block;padding:1rem 1.5rem;white-space:pre}
th,td{padding:12px 15px;text-align:left;border-bottom:1px solid #E1E1E1}
th:first-child,td:first-child{padding-left:0}
th:last-child,td:last-child{padding-right:0}
button,.button{margin-bottom:1rem}
input,textarea,select,fieldset{margin-bottom:1.5rem}
pre,blockquote,dl,figure,table,p,ul,ol,form{margin-bottom:2.5rem}
.u-full-width{width:100%;box-sizing:border-box}
.u-max-full-width{max-width:100%;box-sizing:border-box}
.u-pull-right{float:right}
.u-pull-left{float:left}
hr{margin-top:3rem;margin-bottom:3.5rem;border-width:0;border-top:1px solid #E1E1E1}
.container:after,.row:after,.u-cf{content:"";display:table;clear:both}
body{background:#FFF7DD;font-size:15px;}
.center {text-align:center;}
.container{background:#fff;}
.cabecera {font-family: 'Montserrat', sans-serif;font-size:24px;font-weight:bold;text-align:center;padding-top:20px;min-height:110px;
background: url('../img/background.jpg')no-repeat scroll top;background-size: 1200px auto;text-shadow: black 1px 2px 1px;
}
.cabecera .site-title {font-size:50px;text-decoration: underline;margin-bottom:10px;}
.cabecera a{color:#fff;}
.mobile-menu {display:none;}
.hidden {display:none;}
.header-mobile-menu ul {list-style: none}
.header-mobile-menu li {background:#f4f4f4;border-bottom: 1px solid #ddd;margin:0;padding: 6px 15px;text-align:left;}
.header-mobile-menu li a{color:#1EAEDB;}
.background {
  background: #ad0606;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
  z-index: -1;
}
section {padding:25px;}
.principal_centro {display:block;height: auto;margin:0 auto 2% auto;max-width: 100%;}
a.mas {color:#fff;background:#0090FF;padding:8px 26px;border-radius: 4px;}
a.mas:hover {background:#4040FF;text-decoration:underline;}
aside{
    background-color: rgba(234, 228, 185, 0.7);
  box-sizing: border-box;
    display:block;
    font-size: 14px;
  margin-top:80px;
  padding:18px;
    width:100%;
}
aside h3 {
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 12px;
  font: 300 italic 20px 'Noto Sans', Helvetica, sans-serif;
  text-align:center;
}
aside ul {list-style: none;}
aside ul li {
  padding:10px 0;
}
aside ul img {max-width: 100%;}
@media screen and (max-width: 1024px) {
  section {padding:10px 5px 0 5px;}
}
@media screen and (max-width: 600px) {
  .cabecera {font-size:16px;min-height:50px;}
  .cabecera .site-title {font-size:18px;float:left;margin-left:1em;text-align:left;text-decoration:none;}
  header p:not(.site-title){display:none;}
  aside{margin-top:25px;}
  .mobile-menu {display:inline-block;float:right;margin-right:10px;}
  .nav-burger{cursor:pointer;position:relative;top:2px;z-index:10;width:25px;display:block;margin:0 auto;}
  #navBurger{cursor:pointer;min-height:25px;}
  .nav-burger .burger{cursor:pointer;position:absolute;top:1em;width:100%;left:0;}
  .nav-burger .burger,.nav-burger .burger::after,.nav-burger .burger::before{background:#fff; border-radius:2px;height:4px;position:absolute;width:24px;z-index:100;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}
  .nav-burger .burger::after,.nav-burger .burger::before{content:"";display:block}
  .nav-burger .burger::before{margin-top:-8px}
  .nav-burger .burger::after{margin-top:8px}
  .nav-burger .burger.clicked,.nav-burger .burger.clicked::after,.nav-burger .burger.clicked::before{background:#fff;}
  .burger.clicked{-webkit-transform:rotate(45deg) translate3d(0,0,0);transform:rotate(45deg) translate3d(0,0,0);}
  .burger.clicked::before{margin-top:0;-webkit-transform:rotate(-90deg) translate3d(0,0,0);transform:rotate(-90deg) translate3d(0,0,0)}
  .burger.clicked::after{margin-top:0;-webkit-transform:rotate(0) translate3d(0,0,0);transform:rotate(0) translate3d(0,0,0)}
  .nav-burger.active,.blog-body .nav-burger{position:fixed;}
}